.App {
  text-align: center;
}

.Main {
  /* background-image: url('./shiplap-4.jpg'); */
  background-color: rgba(121, 131, 151, 0.2);
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.staticHeader {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  margin-bottom: 12rem;
}
.specs-container {
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 1em;
}

.lease-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  margin: 0.5em;
}

.spec {
  max-height: 55rem;
  display: grid;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr;
}

.fix-card {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  border: 3px solid teal;
  margin: 1em;
  box-shadow: 0 3px 3px 0 rgba(63, 62, 61, 0.995);
}

.fix-card:hover {
  box-shadow: 0 6px 6px 0 rgba(63, 62, 61, 0.995);
}

.header {
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.modal {
  width: 400px;
  height: 100px;
}

.toggle {
  padding-left: 37%;
  padding-bottom: 2em;
  padding-top: 3em;
  height: 30px;
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  flex-direction: row;
}

h3:before,
h3:after {
  content: "";
  flex: 1 1;
  margin: auto;
}

.CardHolderName {
  text-align: left;
}

.cardDiv {
  text-align: left;
}

.CardGrid {
  display: flex;
  justify-content: center;
}

.homeCard {
  background-color: white;
}

.homeCard:hover {
  transition-timing-function: ease-in;
  transition: 0.4s;
  box-shadow: 0 5px 5px 0 rgba(63, 62, 61, 0.995);
}

.navbar {
  background-color: black;
}

.lease {
  display: block;
  text-align: center;
}

.lease-dropdown {
  display: flex;
  justify-content: center;
  height: 25rem;
}
.center {
  padding: 3em;
  width: 50vw;
  height: 50vh;
  justify-content: center;
}

.centerLease {
  justify-items: center;
}

.scroll {
  margin: auto;
  display: block;
  padding: 0px;
  width: 55vw;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  justify-content: center;
}

.navbarImg {
  padding-top: 0em;
}

.SpecImage {
  justify-content: center;
  padding-left: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.HomeSpec {
  background-color: rgba(121, 131, 151, 0.01);
  display: inline-block;
  margin: auto;
  justify-content: center;
  text-align: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 40vw;
  height: 80vh;
}

.SpecImage {
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.HomeSpec:hover {
  box-shadow: 0 9px 9px 0 rgba(63, 62, 61, 0.995);
}

.homeLink {
  color: red;
}

.appTable {
  padding-left: 16em;
  width: 70vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.leftContainer {
  padding-left: 20em;
  justify-content: center;
}

.leasedHomes {
  /* background-color: black; */

  display: flex;
  justify-content: center;
}

/* .wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	
  } */

.flex {
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 3px solid transparent;
  border-color: grey;
  border-radius: 7px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

/* .MyCardElement--invalid {
	border-color: #fa755a;
  } */

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkoutForm {
  width: 75%;
}

.leaseStat {
  border-bottom: 5px solid white;
  padding-bottom: 1rem;
  box-shadow: 7px 7px 7px grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================================== */

.signin-container {
  display: grid;
  justify-items: center;
  grid-auto-columns: 1fr;
  background-color: white;
}

.signin-form {
  text-align: left;
  padding: 4rem;
  padding-right: 4rem;
  padding-bottom: 20rem;
  /* border-spacing: 1rem; */
  /* display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em; */
  border-radius: 17px;
  width: 23%;
  background-color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Tahoma;
}

.input-field {
  background-color: teal;
  border-radius: 20px;
  height: 3rem;
  width: 75%;
}
