.App {
  text-align: center;
}

.Main {
  /* background-image: url('./shiplap-4.jpg'); */
  background-color: rgba(121, 131, 151, 0.2);
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.staticHeader {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  /* margin-bottom: 5rem; */
}
.specs-container {
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 1em;
}

.lease-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  margin: 0.5em;
}

.spec {
  max-height: 55rem;
  display: grid;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr;
}

.fix-card {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  border: 3px solid teal;
  margin: 1em;
  box-shadow: 0 3px 3px 0 rgba(63, 62, 61, 0.995);
}

.fix-card:hover {
  box-shadow: 0 6px 6px 0 rgba(63, 62, 61, 0.995);
}

.header {
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.modal {
  width: 400px;
  height: 100px;
}

.toggle {
  padding-left: 37%;
  padding-bottom: 2em;
  padding-top: 3em;
  height: 30px;
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  flex-direction: row;
}

h3:before,
h3:after {
  content: "";
  flex: 1 1;
  margin: auto;
}

.CardHolderName {
  text-align: left;
}

.cardDiv {
  text-align: left;
}

.CardGrid {
  display: flex;
  justify-content: center;
}

.homeCard {
  background-color: white;
}

.homeCard:hover {
  transition-timing-function: ease-in;
  transition: 0.4s;
  box-shadow: 0 5px 5px 0 rgba(63, 62, 61, 0.995);
}

.navbar {
  background-color: black;
}

.lease {
  display: block;
  text-align: center;
}

.lease-dropdown {
  display: flex;
  justify-content: center;
  height: 25rem;
}
.center {
  padding: 3em;
  width: 50vw;
  height: 50vh;
  justify-content: center;
}

.centerLease {
  justify-items: center;
}

.scroll {
  margin: auto;
  display: block;
  padding: 0px;
  width: 55vw;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  justify-content: center;
}

.navbarImg {
  padding-top: 0em;
}

.SpecImage {
  justify-content: center;
  padding-left: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.HomeSpec {
  background-color: rgba(121, 131, 151, 0.01);
  display: inline-block;
  margin: auto;
  justify-content: center;
  text-align: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 40vw;
  height: 80vh;
}

.SpecImage {
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.HomeSpec:hover {
  box-shadow: 0 9px 9px 0 rgba(63, 62, 61, 0.995);
}

.homeLink {
  color: red;
}

.appTable {
  padding-left: 16em;
  width: 70vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.leftContainer {
  padding-left: 20em;
  justify-content: center;
}

.leasedHomes {
  /* background-color: black; */

  display: flex;
  justify-content: center;
}

/* .wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	
  } */

.flex {
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 3px solid transparent;
  border-color: grey;
  border-radius: 7px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

/* .MyCardElement--invalid {
	border-color: #fa755a;
  } */

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkoutForm {
  width: 75%;
}

.leaseStat {
  border-bottom: 5px solid white;
  padding-bottom: 1rem;
  box-shadow: 7px 7px 7px grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================================== */

.signin-container {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: whitesmoke; */
  /* border: 2px solid black; */
}

.form-label {
  font-size: large;
  font-weight: 600;
  padding: 10px 0;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 4rem;
  padding-left: 2.2rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  width: 16%;
  /* background-color: white; */
  border: 1px solid black;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
}

.signup-form {
  width: 18rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signin-form > h3 {
  align-self: center;
}

.signin-form > a {
  align-self: center;
}

.form {
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  border-radius: 5px;
  height: 6rem;
  width: 100%;
}

.form-field > input {
  background-color: #e4e6ea;
  border: none;
  border-bottom: 1.2px solid black;
  height: 2.2rem;
  width: 80%;
  font-size: medium;
}

.form-field > input:focus {
  transition-timing-function: ease-in;
  transition: 0.2s;
  background-color: #ffffff;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.09);
  border-bottom: 1.5px solid slateblue;
}

.form-field-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  height: 6rem;
  width: 100%;
}

.form-field-error > input {
  font-size: medium;
  height: 2.2rem;
  width: 75%;
  background: #fff8f8;
  border: none;
  border-bottom: 1.2px solid #d50000;
}

.form-field-error > input:focus {
  background-color: #ffffff;
}

.error-message {
  padding-top: 1em;
  font-size: small;
  color: red;
}

.form-btn {
  margin-right: 3rem;
  margin-bottom: 1rem;
  height: 2.3rem;
  width: 8rem;
  background-color: #008080;
  border: 1px solid white;
  font-size: medium;
  font-weight: 500;
  align-self: center;
}

.form-btn:hover {
  transition-timing-function: ease-in;
  transition: 0.2s;
  border: 1.2px solid black;
  color: white;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  border-radius: 4px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-width: 2px;
  border-image: initial;
  border-radius: 4px;
}

.temp-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.home-form-container {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: whitesmoke; */
  /* border: 2px solid black; */
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 4rem;
  border-radius: 10px;
  width: 28vw;
  height: auto;
  border: 1px solid black;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
}

.home-form > h2 {
  align-self: center;
}

.home-form-label {
  font-size: medium;
  font-weight: 550;
  padding-bottom: 10px;
  margin-right: 1rem;
}

.home-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  border-radius: 5px;
  height: 6rem;
  width: 100%;
}

.home-form-field > input {
  background-color: #e4e6ea;
  border: none;
  border-bottom: 1.2px solid black;
  height: 2.2rem;
  width: 80%;
  font-size: medium;
}

.home-form-field > input:focus {
  transition-timing-function: ease-in;
  transition: 0.2s;
  background-color: #ffffff;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.09);
  border-bottom: 1.5px solid #f50057;
}

.one-input {
  align-self: stretch;
}

.three-inputs {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.three-inputs > select {
  font-weight: 500;
}

.two-inputs {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.dropzone {
  padding-top: 0.5rem;
  padding-left: 1rem;
  border: 1px solid black;
  font-weight: 600;
}

.dropzone:hover {
  padding-top: 0.5rem;
  padding-left: 1rem;
  border: 1.7px solid #f50057;
  size: large;
}

.home-form-btn {
  height: 3rem;
  width: 10rem;
  border-radius: 4px;
  background-color: #008080;
  border: 1px solid white;
  font-size: medium;
  font-weight: 500;
  align-self: center;
}
