.App {
	background-color: opaque;
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.marker-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.toggle {
	height: 50px;
}

.Popup {
	background-color: greenyellow;
}

.scroll { 
	margin:4px, 4px; 
	padding:4px; 
	width: 40vh; 
	height: 100vh; 
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:justify; 
} 

.MapFlag {
	background-color: tomato;
}

.HomeSpec {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .HomeSpec:hover {
	box-shadow: 0 8px 16px 0 rgba(58, 130, 179, 0.2);
  }

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

/* .wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	
  } */

  

  .flex {
	  flex-wrap: wrap;
  }

 

  
  
  

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
